################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ForValidationPurpose/.vs/ForValidationPurpose/FileContentIndex/c0c27fb2-c655-404b-a218-701fe7e73e98.vsidx
/ForValidationPurpose/.vs/ForValidationPurpose/FileContentIndex
